@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica", "Tahoma", Arial, sans-serif;
	color: #000;
}
a:link, a:visited {
	text-decoration: none;
	color: #e89f0e;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: #feba32;
	outline: none;
}
p {
	margin-bottom: 0.8em;
}
img.position {
	border: 0;
	width: 25px;
	margin: 0 5px;
	vertical-align: middle;
}
img::-moz-selection {
	background: transparent;
}
img::selection {
	background: transparent;
}
/* Headings */
h1 {
	font-size: 1.4em;
	margin: 0 0 1.0em 0;
}
/* Forms */
label {
	display: block;
	width: 370px;
	float: left;
	clear: left;
	margin-bottom: 10px;
}
fieldset {
	border: 1px dashed #5c6847;
	margin: 10px 0;
	padding: 20px 15px 15px 15px;
}
input, textarea {
	border: 1px solid #5c6847;
	padding: 5px;
	color: #000;
	background-color: #FFF;
	margin-bottom: 10px;
}
textarea {
	width: 250px;
	height: 60px;
}
select {
	width: 250px;
	margin-bottom: 10px;
	padding: 2px 2px;
}
input[type="radio"] {
	margin: 10px 6px;
}
input[type=text], input[type=password], textarea {
	width: 250px;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}
input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus, textarea:active, textarea:focus {
	-moz-box-shadow: 0px 0px 6px 2px #e89f0e;
	-webkit-box-shadow: 0px 0px 6px 2px #e89f0e;
	box-shadow: 0px 0px 6px 2px #e89f0e;
	outline: none;
	border: 1px solid #e89f0e;
}
input[type=submit], input[type=reset] {
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 1em;
	background-color: #e89f0e;
	cursor: pointer;
	margin: 10px 0 0 0;
	padding: 8px 25px;
}
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active, input[type=reset]:hover, input[type=reset]:focus, input[type=reset]:active {
	background-color: #feba32;
}
/* Tables */
th {
	background-color: #666;
	vertical-align: middle;
	padding: 5px 4px;
	color: #FFF;
}
td {
	background-color: #EEE;
	vertical-align: middle;
	padding: 4px 4px;
}
/* Divisions */
div#container {
	margin: 50px;
	background: #f9f9f9;
}
/*********************************
 * header
 *********************************/

div#header {
	height: 18px;
	padding: 16px 25px;
	background: #e89f0e;
	color: #FFF;
	font-weight: bold;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

div#header a {
	color: #fff;
	text-decoration: none;
}



/*********************************
 * main menu
 *********************************/

div#menu {
	margin: 5px 10px 5px 0;
	float: left;
	width: 150px;
	text-align: center;
}
div#menu ul {
	margin-left: 40px;
	list-style: none;
}
div#menu ul li {
	margin-top: 10px;
}
div#menu a {
	background: url("../images/menu.png");
	width: 80px;
	height: 80px;
	display: block;
}
div#menu a.settings {
	background-position: 0 0;
}
div#menu a.settings:hover {
	background-position: 0 -80px;
}
div#menu a.admin {
	display: block;
	background-position: -80px 0;
}
div#menu a.admin:hover {
	background-position: -80px -80px;
}
div#menu a.site {
	display: block;
	background-position: -160px 0;
}
div#menu a.site:hover {
	background-position: -160px -80px;
}
div#menu a.template {
	display: block;
	background-position: -240px 0;
}
div#menu a.template:hover {
	background-position: -240px -80px;
}



/* content */
div#content {
	min-height: 350px;
	min-width: 500px;
	margin: 5px 0 5px 160px;
	padding: 20px;
	border-left: 3px outset #BBB;
}
div#content ul li {
	list-style: none;
	margin: 5px 0;
	border: 1px inset #DDD;
	padding: 5px;
}
div#content ul li ul li {
	border: 0;
}
div#content li a {
	text-decoration: none;
	color: #333333;
}
div#content li a:hover {
	text-decoration: underline;
	color: #333333;
}
table#pageManagementTable {
	width: 80%;
}

div#backendError {
	margin: 0 auto 20px auto; 
	width: 80%; 
	padding:12px 16px; 
	border: 2px solid #ec4040; 
	background-color: #fb8b8b; 
	color:white; 
	font-weight: bold; 
	font-family: 'Courier New', Courier, monospace; 
	font-size: 1.2em;
}


/* footer */
div#footer {
	height: 18px;
	padding: 16px 25px;
	background: #e89f0e;
	color: #FFF;
	font-weight: bold;
	font-size: 0.8em;
	text-align: right;
	clear: both;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}



/* misc */
.floatRight {
	float: right;
}

.smallText {
	font-size: .8em;
}
