@CHARSET "UTF-8";

* {
	margin:0;
	padding:0;
}


body {
	background-color:#FFF;
	font-family: "Helvetica", "Tahoma", Arial, sans-serif;
	font-size:16px;
	color:#333;
}


h1 {
	font-size:1.8em;
	margin:0 0 1.4em 0;
}



/*** Divisions ***/
#header {
	position:relative;
	width:100%;
	height:150px;
}

#logo {
	position:absolute;
	width:300px;
	height:100px;
	top:25px;
	left:25px;
	background-color:red;
}

#logo  a {
	display:block;
	width:300px;
	height:100px;
}

#logoutbutton {
	position:absolute;
	width:300px;
	height:100px;
	top:25px;
	right:25px;
	background-color:blue;
}

#logoutbutton a {
	display:block;
	width:300px;
	height:100px;
}

/* Menu */
div#nav {
	width:100%;
	height:60px;
	font-size:1.2em;
	font-weight:bold;
	border-bottom:3px dashed #E89F0E;
	margin-bottom:35px;
}

ul#adminnavigation {
	display:inline;
	clear:both;
	text-align:center;
}

ul#adminnavigation li {
	list-style-type:none;
	float:left;
}

ul#adminnavigation li a {
	display:block;
	height:30px;
	padding:15px 40px;
}

ul#adminnavigation li a:link, ul#adminnavigation li a:visited {
	color:#E89F0E;
	text-decoration:none;
	background-color:#FFF;
}

ul#adminnavigation li a:hover, ul#adminnavigation li a:active {
	color:#FEBA32;
	text-decoration:none;
	background-color:#e6e6e6;
}

/* Main content */
#content {
	padding:0 25px;
}



/*** Misc classes ***/
.clearboth {
	clear:both;
}
