@CHARSET "UTF-8";

/****************************************************
 * Basis-Layout
 * *************************************************/
 
* {
  margin: 0;
	padding: 0;
	color: #666666;
}

html, body {
  font-family: "Helvetica", "Tahoma", Arial, sans-serif;
	margin: 15px;
	background: #F2F2F2;
}
		
div#site  {
  margin: 0 auto;
  width: 100%;
	background: #DDDDDD;
	border: 2px outset #DDDDDD;					
}

div#site h1 {
  background: #E97820;
  color: #FFFFFF;
  height: 100px;
	text-align: center;
	line-height: 100px;
	font-family: "Georgia";
}

div#site div#wrapper  {
  float: left;
	width: 100%;
}
			
div#site div#content {
	margin: 0 200px;
	background: #FFFFFF;
	min-height: 250px;
	padding: 10px;
}

div#site div#menu {
  width: 250px;
	float: left;
	margin-left: -100%;
  margin-top: 20px;
  padding: 15px;
}
			
#menu ul, #menu ul li { 
	width: 150px;
  list-style-type: none; 
  font-weight: bold; 
  text-align:center; 
} 

#menu ul li ul {
  margin: 0 10px;
}

#menu li a { 
  text-decoration: none; 
  display: block; 
  width:100%; 
  padding: 5px; 
} 
      
#menu a:link, #menu a:visited { 
  color: #FFFFFF; 
  background-color: #E97820; 
  border: 2px outset #E97820; 
} 
      
#menu #akt { 
  color: #FFFFFF; 
  background-color: #BF1800; 
  border: 2px inset #E97820; 
} 
      
#menu a:hover, #menu a:hover#akt { 
  color: #FFFFFF; 
  background-color: #BF1800; 
  border: 2px inset #E97820; 
}
      
div#site div#footer {
	background: #E97820;
	color: #FFFFFF;
	height:	15px;
	clear: both;
	padding: 15px 10px;		
}

/****************************************************
 * Content elements
 * *************************************************/
 
h2 {
  padding: 5px 10px;
} 

h3, h4 {
  padding: 0 10px;
  color: #666666;
}

p {
  padding: 0 10px;
}


div#infobox {
  padding: 0 10px;
}

div.infoheader {
 border: 1px inset #DDDDDD;
 padding: 5px 10px;
 background: #DDDDDD;
}

div.info {
 border: 1px inset #DDDDDD;
 display: none;
 padding: 10px;
}

a {
  color: #E97820;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.documentation {
  
}

ul {
  list-style-image: url(../images/list.png);
}

